imbalanced-learn==0.9.1
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.3
pickleshare==0.7.5
pillow==9.2.0
torch==1.12.1
scikit-learn==1.1.1
scipy==1.7.3
streamlit==1.11.0
torchvision==0.13.1
tqdm==4.64.0
altair<5